<!-- REQUIRES 'flat' object to be passed by using view -->
<div class="container">
    <div class='row'>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="row tile_entity">
                    <div class="col-xs-4">
                        <a class="img-rounded">
                            <img src="/static/AQUILA.jpg" alt="Фото предложения" />
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <span class="text-info">Тип квартиры: </span>
                            {% if flat.flat_type == 'R' %}
                                Квартира
                            {% elif flat.flat_type == 'S' %}
                                Студия
                            {% else %}
                                Неизвестный тип квартиры
                            {% endif %}
                        </p>
                        <p><span class="text-info">Количество комнат: </span>{{ flat.rooms_quantity }}</p>
                        <p><span class="text-info">Описание: </span>{{ flat.description }}</p>
                        <p><span class="text-info">Этаж: </span>{{ flat.floor }}</p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <span class="text-info">Сдаётся: </span>
                            {% if flat.for_rent %}
                                <span class="text-success">Да</span>
                            {% else %}
                                <span class="text-danger">Нет</span>
                            {% endif %}
                        </p>
                        <p>
                            <span class="text-info">По комнатам: </span>
                            {% if flat.per_room_basis %}
                                <span class="text-success">Да</span>
                            {% else %}
                                <span class="text-danger">Нет</span>
                            {% endif %}
                        </p>
                        <p>
                            <span class="text-info">Новостройка: </span>
                            {% if flat.new_build %}
                                <span class="text-success">Да</span>
                            {% else %}
                                <span class="text-danger">Нет</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>