<!-- REQUIRES 'room' object to be passed by using view -->
<div class="container">
    <div class='row'>
        <div class="col-xs-12">
            <div class="row tile_entity">
                <div class="col-xs-4">
                    <a class="img-rounded">
                        <img src="/static/room.jpg" width="290px" alt="Фото предложения" />
                    </a>
                </div>
                <div class="col-xs-4">
                    <p>
                        <span class="text-info">Тип комнаты: </span>
                        {% if room.room_type == 'L' %}
                            Жилая
                        {% elif room.room_type == 'B' %}
                            Санузел
                        {% elif room.room_type == 'K' %}
                            Кухня
                        {% else %}
                            Неизвестный тип комнаты
                        {% endif %}
                    </p>
                    <p><span class="text-info">Площадь: </span>{{ room.square }}</p>
                    <p><span class="text-info">Описание: </span>{{ room.description }}</p>
                    <p>
                        <span class="text-info">Цены: </span>
                        {% for price in room_prices %}
                            <br />
                            <span class="text-success">{{ price.price }}</span>р., установлена {{ price.established_date }}
                        {% endfor %}
                    </p>
                    <a class="btn btn-success btn-lg" href={% url 'room-detail' room.id %}>Подробнее</a>
                </div>
                <div class="col-xs-4">
                    <p>
                        <span class="text-info">Сдаётся: </span>
                        {% if room.for_rent %}
                            <span class="text-success">Да</span>
                        {% else %}
                            <span class="text-danger">Нет</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>