{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Real estate client - {% block title %}{% endblock %}</title>
        <script type="text/javascript" src="{% static 'js/jQuery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        {% block scripts %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include 'chunks/page_elements/nav.html' %}
        <div class="container">
            {% block pagecontent %}
            {% endblock %}
            {% include 'chunks/page_elements/footer.html' %}
        </div>
    </body>
</html>