{% extends 'base.html' %}

{% load static %}

{% block title %}Room Page{% endblock %}

{% block pagecontent %}
    <div class="jumbotron">
        <h2>Подробная информация о комнате</h2>
        <p>Ниже приведена детальная информация о комнате, доступной для продажи/найма.</p>
    </div>

    {% include 'chunks/entities/room.html' %}
    <h3>Принадлежит квартире:</h3>
    {% include 'chunks/entities/flat.html' %}
    {% if user.is_authenticated %}
        <h3>Хозяин:</h3>
        {% include 'chunks/entities/owner.html' %}
    {% endif %}

{% endblock %}